body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aae4ff;
}

.drum-pad {
    padding: 1.2rem .5rem;
    background-color: #aae4ff;
    border: 5px solid #fff;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: .5rem;
    text-align: center;
    cursor: pointer;
    user-select: none;
    width: 30%;
    margin: .3rem;
}

.drum-pad:active {
    background-color: #0EA5E9;
    color: #fff;
    border: 5px solid #0EA5E9;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.active {
    background-color: #0EA5E9;
    color: #fff;
    border: 5px solid #0EA5E9;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#display {
    height: 4rem;   
    width: 10rem;
}